<web-app>
    <display-name>Web Application by Ihar Koshman</display-name>
    <servlet>
        <servlet-name>CalcServlet</servlet-name>
        <servlet-class>com.epam.rd.servlets.CalcServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CalcServlet</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
</web-app>